# Sparkify Project Workspace
This workspace contains a tiny subset (128MB) of the full dataset available (12GB). Feel free to use this workspace to build your project, or to explore a smaller subset with Spark before deploying your cluster on the cloud. Instructions for setting up your Spark cluster is included in the last lesson of the Extracurricular Spark Course content.

You can follow the steps below to guide your data analysis and model building portion of this project.

In [1]:
# import libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# create a Spark session
spark = SparkSession \
    .builder \
    .appName("Our first Python Spark SQL example") \
    .getOrCreate()

# Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. Load and clean the dataset, checking for invalid or missing data - for example, records without userids or sessionids.

In [3]:
path = "mini_sparkify_event_data.json"
user_log = spark.read.json(path)

In [4]:
user_log.createOrReplaceTempView("data")

In [5]:
#checking for any missing userId's or sessionId's, none
spark.sql('''
        select *
        from data
        where userId is null or sessionId is null
''').show()

#noticed that there were null songs, that is when page's value is not'next song'
spark.sql('''
        select distinct page
        from data
        where song is not null
''').show(40)

+------+----+---------+------+-------------+--------+------+-----+--------+------+----+------------+---------+----+------+---+---------+------+
|artist|auth|firstName|gender|itemInSession|lastName|length|level|location|method|page|registration|sessionId|song|status| ts|userAgent|userId|
+------+----+---------+------+-------------+--------+------+-----+--------+------+----+------------+---------+----+------+---+---------+------+
+------+----+---------+------+-------------+--------+------+-----+--------+------+----+------------+---------+----+------+---+---------+------+

+--------+
|    page|
+--------+
|NextSong|
+--------+

# Exploratory Data Analysis
When you're working with the full dataset, perform EDA by loading a small subset of the data and doing basic manipulations within Spark. In this workspace, you are already provided a small subset of data you can explore.

### Define Churn

Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

### Explore Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

In [6]:
spark.udf.register("day", lambda x: str(datetime.datetime.fromtimestamp(x / 1000.0).day))
spark.udf.register("time", lambda x: str(datetime.datetime.fromtimestamp(x / 1000.0)))

In [7]:
pivot_data = spark.sql('''
        
        select userId, sessionId, page, count(page) as page_count
        from data
        where userId != ""
        group by userId, sessionId, page
        order by userId, sessionId, page_count desc
        

''')
pivot_data.createOrReplaceTempView("pivot_data")

In [8]:
transformed_data = spark.sql('''
            select userId, sessionId,
                sum(CancellationConfirmation) as CancellationConfirmation,
                sum(SubmitUpgrade) as SubmitUpgrade,
                sum(Upgrade) as Upgrade,
                sum(Help) as Help,
                sum(ThumbsUp) as ThumbsUp,
                sum(NextSong) as NextSong,
                sum(AddFriend) as AddFriend,
                sum(AddtoPlaylist) as AddtoPlaylist,
                sum(Settings) as Settings,
                sum(About) as About,
                sum(SaveSettings) as SaveSettings,
                sum(Logout) as Logout,
                sum(RollAdvert) as RollAdvert,
                sum(Downgrade) as Downgrade,
                sum(Home) as Home,
                sum(ThumbsDown) as ThumbsDown,
                sum(SubmitDowngrade) as SubmitDowngrade,
                sum(Cancel) as Cancel
                
                from (select pivot_data.*,
                    case when page = "Cancellation Confirmation" then page_count else 0 end as CancellationConfirmation,
                    case when page = "Submit Upgrade" then page_count  else 0 end as SubmitUpgrade,
                    case when page = "Upgrade" then page_count  else 0 end as Upgrade,
                    case when page = "Help" then page_count  else 0 end as Help,
                    case when page = "Thumbs Up" then page_count  else 0 end as ThumbsUp,
                    case when page = "NextSong" then page_count  else 0 end as NextSong,
                    case when page = "Add Friend" then page_count  else 0 end as AddFriend,
                    case when page = "Add to Playlist" then page_count  else 0 end as AddtoPlaylist,
                    case when page = "Settings" then page_count  else 0 end as Settings,
                    case when page = "About" then page_count  else 0 end as About,
                    case when page = "Save Settings" then page_count  else 0 end as SaveSettings,
                    case when page = "Logout" then page_count  else 0 end as Logout,
                    case when page = "Roll Advert" then page_count  else 0 end as RollAdvert,
                    case when page = "Downgrade" then page_count  else 0 end as Downgrade,
                    case when page = "Home" then page_count  else 0 end as Home,
                    case when page = "Thumbs Down" then page_count  else 0 end as ThumbsDown,
                    case when page = "Submit Downgrade" then page_count  else 0 end as SubmitDowngrade,
                    case when page = "Cancel" then page_count  else 0 end as Cancel
                from pivot_data) pivot_ext
                group by userId, sessionId
                order by userId, sessionId asc
''')
transformed_data.createOrReplaceTempView("transformed")

In [9]:
spark.sql('''
        
        select userId, count(*) as sessions
        FROM (select distinct userId, sessionId
                from data
                where userId != "")
        group by userId
        order by sessions Desc
        

''')
#There are matching sessionId's between

DataFrame[userId: string, sessions: bigint]

# Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.
- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

In [10]:
from pyspark.ml.feature import Binarizer
from pyspark.ml.feature import VectorAssembler

ignore = ['userId','sessionId',"CancellationConfirmation" ]

assembler = VectorAssembler(
  inputCols=[x for x in transformed_data.columns if x not in ignore], outputCol="features"
)

churn_assembler = VectorAssembler(
    inputCols =["CancellationConfirmation"], outputCol='churn'

)

assembled = churn_assembler.transform(assembler.transform(transformed_data))

In [11]:
assembled.toPandas()

,userId,sessionId,CancellationConfirmation,SubmitUpgrade,Upgrade,Help,ThumbsUp,NextSong,AddFriend,AddtoPlaylist,...,SaveSettings,Logout,RollAdvert,Downgrade,Home,ThumbsDown,SubmitDowngrade,Cancel,features,churn
0,10,9,0,0,0,0,3,57,3,1,...,0,1,0,0,4,0,0,0,"(0.0, 0.0, 0.0, 3.0, 57.0, 3.0, 1.0, 1.0, 0.0,...",[0.0]
1,10,595,0,0,0,0,23,381,5,7,...,0,4,0,3,16,4,0,0,"(0.0, 0.0, 0.0, 23.0, 381.0, 5.0, 7.0, 4.0, 2....",[0.0]
2,10,1047,0,0,0,0,2,21,1,0,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 2.0, 21.0, 1.0, 0.0, 0.0, 0.0,...",[0.0]
3,10,1414,0,0,0,1,5,63,1,0,...,1,2,0,1,3,0,0,0,"(0.0, 0.0, 1.0, 5.0, 63.0, 1.0, 0.0, 1.0, 0.0,...",[0.0]
4,10,1592,0,0,0,0,1,67,1,0,...,0,2,1,2,4,0,0,0,"(0.0, 0.0, 0.0, 1.0, 67.0, 1.0, 0.0, 0.0, 0.0,...",[0.0]
5,10,1981,0,0,0,0,3,84,1,1,...,0,2,0,1,2,0,0,0,"(0.0, 0.0, 0.0, 3.0, 84.0, 1.0, 1.0, 1.0, 0.0,...",[0.0]
6,100,256,0,0,0,1,10,148,2,4,...,1,0,1,0,5,3,0,0,"[0.0, 0.0, 1.0, 10.0, 148.0, 2.0, 4.0, 1.0, 1....",[0.0]
7,100,369,0,0,0,0,6,91,4,1,...,0,1,0,1,3,1,0,0,"(0.0, 0.0, 0.0, 6.0, 91.0, 4.0, 1.0, 0.0, 0.0,...",[0.0]
8,100,435,0,0,0,0,0,15,0,1,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 1.0, 0.0, 0.0,...",[0.0]
9,100,556,0,0,0,0,10,237,5,6,...,1,4,0,5,14,2,0,0,"[0.0, 0.0, 0.0, 10.0, 237.0, 5.0, 6.0, 2.0, 1....",[0.0]
10,100,683,0,0,0,0,0,23,1,2,...,0,1,0,1,1,1,0,0,"(0.0, 0.0, 0.0, 0.0, 23.0, 1.0, 2.0, 1.0, 1.0,...",[0.0]
11,100,707,0,0,0,3,7,180,2,5,...,0,5,0,2,10,3,0,0,"[0.0, 0.0, 3.0, 7.0, 180.0, 2.0, 5.0, 1.0, 2.0...",[0.0]
12,100,991,0,0,0,0,1,17,0,0,...,1,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 1.0, 17.0, 0.0, 0.0, 1.0, 0.0,...",[0.0]
13,100,1049,0,0,0,0,3,68,2,4,...,0,1,0,0,3,0,0,0,"(0.0, 0.0, 0.0, 3.0, 68.0, 2.0, 4.0, 0.0, 1.0,...",[0.0]
14,100,1185,0,0,0,0,9,144,4,2,...,0,2,0,1,6,1,0,0,"(0.0, 0.0, 0.0, 9.0, 144.0, 4.0, 2.0, 1.0, 0.0...",[0.0]
15,100,1210,0,0,0,0,3,70,1,1,...,0,1,0,2,2,0,0,0,"(0.0, 0.0, 0.0, 3.0, 70.0, 1.0, 1.0, 0.0, 0.0,...",[0.0]
16,100,1231,0,0,0,0,1,16,0,0,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 1.0, 16.0, 0.0, 0.0, 0.0, 0.0,...",[0.0]
17,100,1269,0,0,0,0,1,3,0,0,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 1.0, 3.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
18,100,1279,0,0,0,0,2,26,1,0,...,0,1,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 2.0, 26.0, 1.0, 0.0, 0.0, 0.0,...",[0.0]
19,100,1299,0,0,0,0,4,80,2,4,...,0,1,0,1,2,0,0,0,"(0.0, 0.0, 0.0, 4.0, 80.0, 2.0, 4.0, 0.0, 2.0,...",[0.0]
20,100,1353,0,0,0,0,1,10,0,1,...,0,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 1.0, 10.0, 0.0, 1.0, 0.0, 0.0,...",[0.0]
21,100,1382,0,0,0,0,4,48,1,2,...,0,0,0,1,1,0,0,0,"(0.0, 0.0, 0.0, 4.0, 48.0, 1.0, 2.0, 0.0, 1.0,...",[0.0]
22,100,1398,0,0,0,0,3,30,2,1,...,0,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 3.0, 30.0, 2.0, 1.0, 0.0, 0.0,...",[0.0]
23,100,1473,0,0,0,2,6,184,0,4,...,0,1,0,0,6,1,0,0,"(0.0, 0.0, 2.0, 6.0, 184.0, 0.0, 4.0, 0.0, 0.0...",[0.0]
24,100,1505,0,0,0,0,2,46,2,1,...,2,0,0,0,2,0,0,0,"(0.0, 0.0, 0.0, 2.0, 46.0, 2.0, 1.0, 2.0, 0.0,...",[0.0]
25,100,1590,0,0,0,3,13,256,6,5,...,0,1,11,4,8,3,1,0,"[0.0, 0.0, 3.0, 13.0, 256.0, 6.0, 5.0, 0.0, 1....",[0.0]
26,100,1618,0,0,0,0,5,70,0,1,...,0,1,5,0,3,0,0,0,"(0.0, 0.0, 0.0, 5.0, 70.0, 0.0, 1.0, 0.0, 0.0,...",[0.0]
27,100,1678,0,0,0,0,0,6,0,0,...,0,2,1,0,2,0,0,0,"(0.0, 0.0, 0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
28,100,1682,0,0,0,2,1,23,0,0,...,0,1,0,0,0,0,0,0,"(0.0, 0.0, 2.0, 1.0, 23.0, 0.0, 0.0, 0.0, 0.0,...",[0.0]
29,100,1707,0,0,0,0,0,2,0,0,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3146,98,752,0,0,0,0,1,2,0,0,...,0,0,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
3147,98,820,0,0,1,1,3,53,3,2,...,0,1,3,0,3,0,0,0,"(0.0, 1.0, 1.0, 3.0, 53.0, 3.0, 2.0, 0.0, 0.0,...",[0.0]
3148,98,925,0,0,0,0,1,8,0,1,...,0,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 1.0, 8.0, 0.0, 1.0, 0.0, 0.0, ...",[0.0]
3149,98,1076,0,0,0,0,1,5,0,0,...,0,0,1,0,1,0,0,0,"(0.0, 0.0, 0.0, 1.0, 5.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
3150,98,1139,0,1,1,2,6,157,0,7,...,0,4,0,2,10,1,0,0,"[1.0, 1.0, 2.0, 6.0, 157.0, 0.0, 7.0, 2.0, 0.0...",[0.0]
3151,98,1283,0,0,0,0,4,103,1,3,...,0,2,0,0,3,2,0,0,"(0.0, 0.0, 0.0, 4.0, 103.0, 1.0, 3.0, 1.0, 0.0...",[0.0]
3152,98,1384,0,0,0,0,1,13,2,0,...,0,1,0,0,2,0,0,0,"(0.0, 0.0, 0.0, 1.0, 13.0, 2.0, 0.0, 0.0, 0.0,...",[0.0]
3153,98,1696,0,0,0,3,15,427,7,7,...,0,7,0,3,16,5,0,0,"[0.0, 0.0, 3.0, 15.0, 427.0, 7.0, 7.0, 1.0, 1....",[0.0]
3154,98,1814,0,0,0,1,2,66,3,3,...,0,0,0,2,3,0,0,0,"(0.0, 0.0, 1.0, 2.0, 66.0, 3.0, 3.0, 0.0, 0.0,...",[0.0]
3155,98,1952,0,0,0,0,2,44,2,2,...,0,2,1,0,4,0,0,0,"(0.0, 0.0, 0.0, 2.0, 44.0, 2.0, 2.0, 0.0, 0.0,...",[0.0]
3156,98,1965,0,0,0,1,11,198,2,3,...,1,2,0,2,6,0,0,0,"[0.0, 0.0, 1.0, 11.0, 198.0, 2.0, 3.0, 2.0, 1....",[0.0]
3157,98,2009,0,0,0,1,20,329,8,8,...,2,3,0,6,10,2,0,0,"[0.0, 0.0, 1.0, 20.0, 329.0, 8.0, 8.0, 2.0, 0....",[0.0]
3158,98,2106,0,0,0,0,5,56,1,1,...,0,2,0,0,5,0,0,0,"(0.0, 0.0, 0.0, 5.0, 56.0, 1.0, 1.0, 0.0, 0.0,...",[0.0]
3159,98,2131,0,0,0,1,5,93,3,1,...,0,2,0,3,5,1,0,0,"(0.0, 0.0, 1.0, 5.0, 93.0, 3.0, 1.0, 2.0, 0.0,...",[0.0]
3160,98,2147,0,0,0,0,8,125,0,5,...,1,1,0,1,6,1,0,0,"(0.0, 0.0, 0.0, 8.0, 125.0, 0.0, 5.0, 2.0, 0.0...",[0.0]
3161,98,2178,0,0,0,2,6,194,5,4,...,0,1,0,2,6,3,0,0,"(0.0, 0.0, 2.0, 6.0, 194.0, 5.0, 4.0, 1.0, 0.0...",[0.0]
3162,98,2202,0,0,0,0,1,130,4,2,...,0,2,0,3,7,2,0,0,"(0.0, 0.0, 0.0, 1.0, 130.0, 4.0, 2.0, 0.0, 1.0...",[0.0]
3163,98,2264,0,0,0,1,4,52,0,2,...,0,1,0,0,3,0,0,0,"(0.0, 0.0, 1.0, 4.0, 52.0, 0.0, 2.0, 0.0, 0.0,...",[0.0]
3164,98,2386,0,0,0,0,1,52,1,1,...,0,1,0,1,4,0,0,0,"(0.0, 0.0, 0.0, 1.0, 52.0, 1.0, 1.0, 0.0, 0.0,...",[0.0]
3165,99,98,0,0,0,0,1,34,1,1,...,0,0,4,0,4,2,0,0,"(0.0, 0.0, 0.0, 1.0, 34.0, 1.0, 1.0, 0.0, 0.0,...",[0.0]
3166,99,425,0,0,0,0,0,21,0,0,...,0,1,2,0,2,0,0,0,"(0.0, 0.0, 0.0, 0.0, 21.0, 0.0, 0.0, 0.0, 0.0,...",[0.0]
3167,99,608,0,0,0,0,0,6,0,0,...,0,0,1,0,1,0,0,0,"(0.0, 0.0, 0.0, 0.0, 6.0, 0.0, 0.0, 0.0, 0.0, ...",[0.0]
3168,99,669,0,0,0,0,0,4,0,1,...,0,1,0,0,1,0,0,0,"(0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 1.0, 1.0, 0.0, ...",[0.0]
3169,99,699,0,1,2,0,5,50,0,0,...,0,0,2,0,2,1,0,0,"(1.0, 2.0, 0.0, 5.0, 50.0, 0.0, 0.0, 1.0, 1.0,...",[0.0]
3170,99,1602,0,0,0,0,1,17,2,0,...,0,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 1.0, 17.0, 2.0, 0.0, 0.0, 0.0,...",[0.0]
3171,99,1683,0,0,0,0,2,49,0,0,...,0,1,0,0,2,0,0,0,"(0.0, 0.0, 0.0, 2.0, 49.0, 0.0, 0.0, 0.0, 0.0,...",[0.0]
3172,99,2011,0,0,0,0,0,21,2,0,...,0,0,0,0,0,0,0,0,"(0.0, 0.0, 0.0, 0.0, 21.0, 2.0, 0.0, 1.0, 0.0,...",[0.0]
3173,99,2062,0,0,0,0,3,73,1,2,...,0,2,1,0,5,0,0,0,"(0.0, 0.0, 0.0, 3.0, 73.0, 1.0, 2.0, 0.0, 1.0,...",[0.0]
3174,99,2201,0,0,0,1,6,118,4,4,...,0,2,0,1,4,1,0,0,"(0.0, 0.0, 1.0, 6.0, 118.0, 4.0, 4.0, 0.0, 0.0...",[0.0]
3175,99,2274,0,0,0,0,9,112,2,3,...,0,2,0,1,3,1,0,0,"(0.0, 0.0, 0.0, 9.0, 112.0, 2.0, 3.0, 0.0, 0.0...",[0.0]

In [19]:
binarizer = Binarizer(threshold=0.5, inputCol="churn", outputCol="churn2")

binarizedDataFrame = binarizer.transform(assembled)

In [45]:
final = binarizedDataFrame.select(['features','churn2'])

DataFrame[features: vector, churn2: vector]

In [29]:

splits = final.randomSplit([0.7, 0.3])
train_df = splits[0]
test_df = splits[1]

Row(features=SparseVector(17, {3: 3.0, 4: 57.0, 5: 3.0, 6: 1.0, 7: 1.0, 10: 1.0, 13: 4.0}), churn2=DenseVector([0.0]))

# Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

In [23]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8, featuresCol="features", labelCol='churn2')

# Fit the model
lrModel = lr.fit(train_df)

IllegalArgumentException: 'requirement failed: Column churn2 must be of type numeric but was actually of type struct<type:tinyint,size:int,indices:array<int>,values:array<double>>.'

# Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.